main {
  background-color: #171719;
}

main .logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .logo .icon {
  font-size: 100px;
  color: #ff4655;
}

main .logo h1 {
  font-size: 100px;

  color: white;
  margin-bottom: 15px;
}

main .container {
  background-color: #1f2023;
  padding: 60px 20px;
}

main .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main .search input {
  width: 500px;
  height: 50px;
}

main .search p {
  color: white;
}

main h2 {
  font-size: 35px;
  color: white;
  margin: 20px 0;
}

main .all-games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

main .all-games article {
  width: 240px;
}

main .all-games article p {
  position: relative;
  top: 275px;
  left: 10px;
  text-wrap: wrap;
  font-size: 20px;
}

main .all-games link {
  text-decoration: none;
}

.all-games article img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.link-article {
  text-decoration: none;
  color: white;
}
