main {
  background-color: #171719;
}

main .logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .logo .icon {
  font-size: 100px;
  color: #ff4655;
}

main .logo h1 {
  font-size: 100px;

  color: white;
  margin-bottom: 15px;
}

main .container {
  background-color: #1f2023;
  padding: 60px 20px;
}

main .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main .search input {
  width: 500px;
  height: 50px;
}

main .search p {
  color: white;
}

main h2 {
  font-size: 35px;
  color: white;
  margin: 20px 0;
}

main .all-games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

main .all-games article {
  position: relative;
  width: 100%;
  height: 100%;
}

main .all-games article p {
  position: absolute;
  bottom: 50px;
  left: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 20px;
}

main .all-games link {
  text-decoration: none;
}

.all-games article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.link-article {
  text-decoration: none;
  color: white;
  width: calc((100% - 80px) / 5);
  height: 300px;
}

main .container > h3 {
  color: white;
  font-size: 25px;
}

main .filters {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

main .filters div {
  display: flex;
  gap: 20px;
  align-items: center;
}
