main .container {
  padding: 150px 0;
}
main .container .signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container .signup .info-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #2d2d2f;
  border-right: 2px solid #ff4655;
}

main .container .signup .info-signup > div {
  display: flex;
  gap: 10px;
  color: white;
  align-items: center;
}

main .container .signup .info-signup > div .icon {
  font-size: 30px;
}

main .container .signup .input-signup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .container .signup .input-signup {
  background-color: #333436;
}

main .container .signup section {
  width: 400px;
  padding: 0 30px;
  height: 450px;
}

main .container .signup .input-signup input,
main .container .signup .input-signup button {
  height: 35px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}
main .container .signup .input-signup button {
  background-color: #ff4655;
  color: white;
  margin-bottom: 10px;
}

main .container .signup .linkToLogin {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 12px;
}
